* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* Header Style*/
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.flex-container{
  display: flex;
  flex-direction: row;
  font-size: 32;
  align-items: center;
  justify-content: start;
}

.div-container {
  display: flex;
  flex-direction: row;
  font-size: 32;
  align-items: center;
  
}

.item1{
  gap: 16px;
}

.item2{
  gap: 16px;
  padding-left: 16px;
}

.item3{
  gap: 16px;
  padding-left: 16px;
}

.item4{
  margin-right: 24px;
  padding-left: 16px;
 
}

nav > img {
  margin-left: 24px;
}

nav > h3 > span {
  color: gray;
}

nav > a {
  flex-direction: row;
}





/*hero style*/
.hero{
  background-color: gray;
  height: initial;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.hero-img {
  width: 60%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  }

.hero-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 30%;
  align-items: stretch ;
  margin: 24px 0px;
  
}

.hero-text > button {
  background-color: rgb(49, 48, 48);
  border: none;
  color: white;
  padding: 8px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 12px 0px;
  cursor: pointer;
}



/*information style*/


.information{
  display: flex;
  flex-direction: row;
  margin-left: 0px;
 
}

.infor-img{
  width: 100%;
  padding-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}


.flex-information-left{
  padding-left: 24px;
  width: 60%;
}


.flex-information-right{
  width: 40%; 
  height: auto; 
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: space-between;

}

    .flex-information-right-item1 {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-top: 16px;
      padding-bottom: 16px;
      gap: 32px;
    }

    .flex-information-right-item2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 16px;
      padding-bottom: 16px;
      gap: 32px;
    }

    .flex-information-right-item3 {
      display: flex;
      flex-direction: row;
      background-color: darkgray;
      padding-top: 16px;
      padding-bottom: 16px;
      gap: 32px;
    }




 /*course style*/   
.course{
      display: flex;
      flex-direction: column;
      background-color: rgb(222, 222, 222);
      align-items: center;
      
      width: 100%;
      height: 100%;
      justify-content: space-between;
      align-content: space-between;
}

div.course-row1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 72px;
  margin-right: 72px;
  margin-bottom: 32px;
}

div.course-row2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 72px;
  margin-right: 72px;
  margin-bottom: 32px;
}

div.polaroid {
  background-color: white;
  gap: 32px;
  height: auto; 
  margin: 0px 16px;
  
}
          .polaroid-img{
            height: auto;
            width: 100%;
            margin-bottom: 16px;
          }

          .polaroid-txt{
            margin-bottom: 24px;
            margin-left: 16px;
            margin-right: 16px;
          }

          .polaroid-txt p {
            margin: 8px 0px;
          }






 /*thesis style*/

.thesis {
   display: flex;
   flex-direction: column;
}

    .thesis h2 {
        margin: 32px 0px;
        align-self: center;
    }



.thesis-items {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.flex-thesis-left{
padding: 0px 24px;
width: 60%;
}

.flex-thesis-right{
  width: 40%;
}
      
.flex-thesis-right-item1{
      display: flex;
      flex-direction: row;
      align-content: center;
      padding-left: 16px;  
      padding-top: 16px;  
      padding-bottom: 16px;            
      background-color: rgb(222, 222, 222);
}

.flex-thesis-right-item2{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 16px;  
      padding-top: 16px;  
      padding-bottom: 16px;   
      
}



/*Footer style*/